ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=team_manager
DB_SCHEMA=team_manager
DB_USER=postgres
DB_PASS=
APP_ENV=development
BASE_URL=

# E-Mail
MAIL_DRIVER=mail
MAIL_FROM_ADDRESS=noreply@ihre-domain.de
MAIL_FROM_NAME=Team Manager
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
